h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 3.42857em;
  font-weight: 700; }

h2 {
  font-size: 2.57143em; }

h3 {
  font-size: 1.71429em; }

h4 {
  font-size: 1.28571em; }

.dft-btn {
  /* Rectangle 3: */
  background: #FFFFFF;
  border-radius: 4px;
  padding: 15px 15px;
  text-align: center;
  font-size: 1.14286em;
  font-style: italic;
  color: #333399;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px; }

@media screen and (max-width: 320px) {
  .dft-btn {
    font-size: 1em;
    padding: 10px 15px; } }

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  font-family: "Open Sans", sans-serif;
  border: none;
  border-bottom: 1px solid #fff;
  box-shadow: none !important;
  outline: none !important;
  font-size: 1em;
  /* Rectangle 5: */
  background: transparent !important;
  box-shadow: 0 2px 4px 0 rgba(191, 191, 191, 0.5);
  padding: 15px 15px;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-size: 0.85714em;
  height: inherit !important; }
  [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
    border: none !important;
    border-bottom: 1px solid #fff !important;
    background: transparent;
    outline: none !important;
    box-shadow: none !important; }

input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
  background: transparent !important; }

.form {
  max-width: 400px;
  margin: 0 auto;
  width: 85%; }

[type='submit'] {
  border: none; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    list-style: none; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(-26deg, #FF00CC 0%, #333399 65%); }

p {
  margin-bottom: 5px; }

.full-height {
  height: 100%; }

.small-only {
  /* Rectangle: */
  background-image: linear-gradient(-26deg, #FF00CC 0%, #333399 65%);
  color: #fff;
  padding-bottom: 50px; }

.logo {
  padding: 30px 0 20px;
  display: block; }

.device {
  padding: 20px 0; }

.home-text {
  text-align: center;
  max-width: 400px;
  padding: 0 20px;
  margin-top: 20px;
  margin: 20px auto 0; }
  .home-text p {
    font-size: 1em; }
  .home-text img {
    margin-bottom: 20px;
    margin-top: 10px; }

.home-btn {
  margin-top: 20px;
  width: 90%;
  margin: 0 auto; }
  .home-btn button {
    /* Rectangle 3: */
    background: #FFFFFF;
    border-radius: 4px;
    padding: 15px 15px;
    text-align: center;
    font-size: 1.14286em;
    font-style: italic;
    color: #333399;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; }
  .home-btn a.book {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 1em;
    color: #fff;
    margin-top: 20px; }

.camera {
  background: #fff;
  width: 90%;
  margin: 10px auto 20px;
  border-radius: 2px;
  height: 350px;
  margin-bottom: 30px; }

.expanded {
  width: 100%; }

.congrats {
  margin-top: 70px !important; }
  .congrats img {
    margin-bottom: 30px; }

.social {
  margin-top: 50px; }
  .social p {
    text-align: center;
    font-style: italic;
    font-size: 1em; }
  .social ul {
    margin: 20px 0; }
    .social ul li {
      list-style: inline-block;
      margin: 0 10px;
      display: inline-block; }

@media screen and (min-width: 640px) {
  .small-only {
    display: none !important; } }

@media screen and (max-width: 640px) {
  .device {
    padding: 30px 60px; }
  .home-text {
    margin-top: 20px;
    margin-bottom: 20px; }
    .home-text p {
      font-size: 1.14286em; }
  .home-btn button {
    font-size: 1.14286em; }
  .home-btn a.book {
    font-size: 1em;
    margin-top: 30px; } }

@media screen and (max-width: 480px) {
  .device {
    padding: 10px 100px; }
  .home-text {
    margin-top: 10px; }
    .home-text p {
      font-size: 0.85714em; }
  .home-btn button {
    font-size: 1em; }
  .home-btn a.book {
    font-size: 0.85714em; }
  .camera {
    height: 300px; } }

@media screen and (max-width: 320px) {
  .device {
    padding: 10px 100px; }
  .home-text {
    margin-top: 10px; }
    .home-text p {
      font-size: 0.85714em; }
  .home-btn button {
    font-size: 1em;
    padding: 10px 15px; }
  .home-btn a.book {
    font-size: 0.85714em;
    margin-top: 15px; }
  .camera {
    height: 250px;
    margin-bottom: 30px; } }
