// Typography.scss
@import 'mixins';


.dft-btn {

		/* Rectangle 3: */
		background: #FFFFFF;
		border-radius: 4px;
		padding: 15px 15px;
		text-align: center;
		font-size: em(16);
		font-style: italic;
		color: #333399;
		display: block;
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		margin-top: 20px;

}

@media screen and (max-width: 320px) {
	.dft-btn {
		font-size: em(14);
		padding: 10px 15px;
	}
}