// form.scss

@import 'mixins';

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	font-family: $opensans;
	border: none;
	border-bottom: 1px solid #fff;
	box-shadow: none !important;
	outline: none !important;
	font-size: em(14);
	/* Rectangle 5: */
	background: transparent !important;
	box-shadow: 0 2px 4px 0 rgba(191,191,191,0.50);
	padding: 15px 15px;
	border-radius: 0px;
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
	font-size: em(12);
	height: inherit !important;

	&:focus {
		border: none !important;
		border-bottom: 1px solid #fff !important;
		background: transparent;
		
		outline: none !important; 
		box-shadow: none !important;
	}
}

input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
	background: transparent !important;
}

.form {
	max-width: 400px;
	margin: 0 auto;
	width: 85%;

}

[type='submit'] {
	border: none;
}















