// Mixins

// Variables
$opensans: 'Open Sans', sans-serif;

// Function to convert from px to em 
$browser-context: 14; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition ($which, $time, $beizer) {
	-webkit-transition: $which $time $beizer;
	-moz-transition: $which $time $beizer;
	-o-transition: $which $time $beizer;
	-ms-transition: $which $time $beizer;
	transition: $which $time $beizer;
}
