// Typography.scss
$opensans: 'Open Sans', sans-serif;

// Function to convert from px to em 
$browser-context: 14; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

h1,h2,h3,h4,h5 {
	font-family: $opensans;
}

h1 {
	font-size: em(48);
    font-weight: 700;
}

h2 {
	font-size: em(36);
}

h3 {
	font-size: em(24);
}

h4 {
	font-size: em(18);
}