@import 'typography';
@import 'buttons';
@import 'form';
@import 'mixins';
@import 'general';

body {
	font-family: 'Open Sans', sans-serif;
	background-image: linear-gradient(-26deg, #FF00CC 0%, #333399 65%);
}

p {
	margin-bottom: 5px;
}

.full-height {
	height: 100%;
}

.small-only {
	/* Rectangle: */
	background-image: linear-gradient(-26deg, #FF00CC 0%, #333399 65%);
	color: #fff;
	padding-bottom: 50px;
	
}

.logo {
	padding: 30px 0 20px;
	display: block;
}

.device {
	padding: 20px 0;
}

.home-text {
	text-align: center;
	max-width: 400px;
	padding: 0 20px;
	margin-top: 20px;
	margin: 20px auto 0;
	p {
		font-size: em(14);
	}

	img {
		margin-bottom: 20px;
		margin-top: 10px;
	}
}

.home-btn {
	// padding: 0 20px;
	margin-top: 20px;
	width: 90%;
	margin: 0 auto;

	button {
		/* Rectangle 3: */
		background: #FFFFFF;
		border-radius: 4px;
		padding: 15px 15px;
		text-align: center;
		font-size: em(16);
		font-style: italic;
		color: #333399;
		display: block;
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
	}

	a.book {
		display: block;
		text-align: center;
		text-decoration: underline;
		font-size: em(14);
		color: #fff;
		margin-top: 20px;
	}
}

.camera {
	background: #fff;
	width: 90%;
	margin: 10px auto 20px;
	border-radius: 2px;
	height: 350px;
	margin-bottom: 30px;
} 

.expanded {
	width: 100%;
}

.congrats {
	margin-top: 70px !important;

	img {
		margin-bottom: 30px;
	}
}

.social {
	margin-top: 50px;

	p {
		text-align: center;
		font-style: italic;
		font-size: em(14);
	}


	ul {
		margin: 20px 0;

		li {
			list-style: inline-block;
			margin: 0 10px;
			display: inline-block;
		}
	}
}


@media screen and (min-width: 640px) {
	.small-only {
		display: none !important;
	}
}

@media screen and (max-width: 640px) {
	.device {
		padding: 30px 60px;
	}

	.home-text {
		margin-top: 20px;
		margin-bottom: 20px;


		p {
			font-size: em(16);
		}
	}

	.home-btn {
		// padding: 0 20px;

		button {
			font-size: em(16);
		}

		a.book {
			font-size: em(14);
			margin-top: 30px;
		}	
	}
}

@media screen and (max-width: 480px) {
	.device {
		padding: 10px 100px;
	}

	.home-text {
		margin-top: 10px;


		p {
			font-size: em(12);
		}
	}

	.home-btn {
		// padding: 0 10px;

		button {
			font-size: em(14);
		}

		a.book {
			font-size: em(12);
		}	
	}

	.camera {
		height: 300px;
	}

}



@media screen and (max-width: 320px) {
	.device {
		padding: 10px 100px;
	}

	.home-text {
		margin-top: 10px;


		p {
			font-size: em(12);
		}
	}

	.home-btn {
		// padding: 0 10px;

		button {
			font-size: em(14);
			padding: 10px 15px;
		}

		a.book {
			font-size: em(12);
			margin-top: 15px;
		}	
	}

	.camera {
		
		height: 250px;
		margin-bottom: 30px;
	} 


}























